<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>{{category.name}}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<p *ngIf="productsInCategory && productsInCategory.length == 0">Il n'y a aucun produit dans cette catégorie</p>
	<ion-item *ngFor="let p of productsInCategory" (click)="selectProduct($event,p)">
		<ion-avatar item-start>
			<img [src]="this.p.images[0].src">
		</ion-avatar>
		{{p.name}}
	</ion-item>
</ion-content>
