page-user-profile {

	.item-profile {
		height: 100px;
		.avatar > img:first-child {
			width: 80px;
			height: 80px;
			border: 2px solid color($colors, prune);
		}
		.edit-buttons {
			height: 100%;
			width: 135px;
			display: block;
			vertical-align: top;
			margin-top: 30px;
			text-align: center;
			font-family: "Arciform";
			button {
				width: 103%;
			}
		}
	}

	ion-item {
		font-size: 14px !important;

		ion-label {
			color: color($colors, myrtille) !important;
		}

		div {
			color: color($colors, prune) !important;
		}

		ion-input {
			margin: -0.8em !important;
		}

	}

	.address-card {
		background-color: color($colors, prune);

		ion-card-header {
			color: white !important;
			font-size: 20px !important;
			font-family: "Arciform";
		}
	}

	.item-address-data {
		max-height: 32px;
		min-height: 32px;
	}

	.orders-button {
		display: block;
		background: color($colors, carotte);
		font-family: "Arciform";
		margin-left: auto;
		margin-right: auto;
		margin-top: 15px;
		margin-bottom: 15px;
	}

}

// Remove start border in ios
.ios ion-list > .item:first-child {
	border-top: none;
}

// Remove strange green lines that appear on Android with ngModel
.item-md.item-input.ng-valid:not(.input-has-focus) .item-inner {
	border-bottom-color: transparent !important;
	box-shadow: inset 0 -1px 0 0 #dedede !important;
}

.list-md .item-input.ng-valid:not(.input-has-focus):last-child,
.list-md .item-input.ng-valid:not(.input-has-focus):last-child .item-inner {
	border-bottom-color: transparent !important;
	box-shadow: none !important;
}


