page-help {
	h1 {
		font: 32px Arciform;
	}
	h4 {
		font: 28px Arciform;
	}
	.slide1 {
		p {
			font: italic 15px Montserrat, sans-serif;
			line-height: 35px;
			margin-left: 20px;
			margin-right: 20px;
			margin-top: 11px;
			margin-bottom: 11px;
		}
		img {
			margin: 0;
		}
		h4 {
			margin-bottom: 0;
		}
		button {
			font-size: 20px;
		}

	}
	ion-slide {
		.bar {
			position: absolute;
			left: 15px;
			right: 15px;
			height: 50px;
			background-color: color($colors, prune);
			font: bold 40px "Helvetica Neue", sans-serif;
			color: white;
			box-shadow: 0 0 6px black;
			&.top-left-corner {
				top: 15px;
				border-top-left-radius: 18px;
				text-align: left;
				padding-left: 15px;
			}
			&.top-right-corner {
				top: 15px;
				border-top-right-radius: 18px;
				text-align: right;
				padding-right: 15px;
			}
			&.bottom-left-corner {
				bottom: 40px;
				border-bottom-left-radius: 18px;
				text-align: left;
				padding-left: 15px;
			}
			&.bottom-right-corner {
				bottom: 40px;
				border-bottom-right-radius: 18px;
				text-align: right;
				padding-right: 15px;
			}
		}

		.card {
			position: absolute;
			left: 15px;
			right: 15px;
			padding: 18px;
			box-shadow: 0 0 6px black;
			color: white;
			&.bottom {
				top: 70px;
				bottom: 40px;
			}
			&.top {
				top: 15px;
				bottom: 95px;
			}

			&.green {
				background-image: url("../../assets/imgs/green_card.jpg");
				background-size: cover;
			}
			&.yellow {
				background-image: url("../../assets/imgs/yellow_card.jpg");
				background-size: cover;
			}
			&.orange {
				background-image: url("../../assets/imgs/orange_card.jpg");
				background-size: cover;
			}
			&.red {
				background-image: url("../../assets/imgs/red_card.jpg");
				background-size: cover;
			}
			&.brown {
				background-image: url("../../assets/imgs/brown_card.jpg");
				background-size: cover;
			}

			.title {
				font-size: 24px;
				font-weight: 400;
				line-height: 30px;
			}
			.small {
				font-size: 12px;
				position: absolute;
				padding-right: 15px;
				bottom: 0;
			}
			.medium {
				font-size: 19px;
			}
			.justify {
				text-align: justify;
			}
			.left {
				text-align: left;
			}
			button {
				background-color: color($colors, carotte);
			}
		}

	}
}
