<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Listes de course</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-row>
		<ion-col col-6 *ngFor="let list of wishLists">
			<ion-card>
				<ion-icon class="default-img" *ngIf="list.products.length == 0" name="nutrition" text-center></ion-icon>
				<img *ngIf="list.products.length > 0" [src]="list.products[0].images.src"/>
				<div class="dark-gradient"></div>
				<p class="name">{{list.name}}</p>
			</ion-card>
		</ion-col>
		<ion-col col-6>
			<button class="add" ion-button icon-only clear>
				<ion-icon name="add-circle"></ion-icon>
			</button>
		</ion-col>

	</ion-row>
</ion-content>
