page-basket {
	ion-content {
		.button {
			font-family: "Arciform" !important;
		}
		.boutonCommande {
			background: color($colors, prune) !important;
			width: 90%;
			margin-left: 5%;
			margin-top: 25px;
		}
		ion-item {
			font-size: small !important;
		}
		ion-note {
			padding-left: 30px;
			padding-right: 30px;
			text-align: center;
		}
	}
}
