page-delivery {
	ion-content {
		button {
			font-family: "Arciform" !important;
		}
		ion-list-header {
			background-color: color($colors, carotte) !important;
			color: white !important;
		}
		.address {
			ion-list-header {
				margin-bottom: 10px;
			}
			ion-item {
				font-size: 15px;
				min-height: 28px !important;
				max-height: 28px !important;
				button {
					font-size: 16px !important;
				}
			}
		}
	}
}
