page-contact {
	ion-content {
		text-align: center;
		.message {
			margin-top: 25px;
			margin-bottom: 20px;
			ion-textarea {
				height: auto;
			}
		}
		.send {
			background-color: color($colors, citron) !important;
			color: color($colors, myrtille) !important;
		}
	}
}
