page-home {
	ion-content{

	}

	.searchbar{
		background-color: transparent;
		border-color: color($colors,prune);
	}

	.spinner-container {
		width: 100%;
		text-align: center;
		padding: 10px;
	}
}
