<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Détails produit</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding >

	<ion-row>
		<ion-col col-auto><h2>{{produit_vu.name}}</h2></ion-col>
		<ion-col text-right>{{produit_vu.price}}€</ion-col>
	</ion-row>
	<img [src] ="this.produit_vu.images[0].src"/>
	<div [innerHTML]="produit_vu.description"></div>


	<button ion-button icon-start full (click)="RendreIndisponibleProduit($event)" *ngIf="enlever" color="tomate">
		<ion-icon name="close"></ion-icon>
		Retirer de la vente
	</button>

	<button ion-button icon-start full (click)="RendreDisponibleProduit($event)" *ngIf="remettre">
		<ion-icon name="check"></ion-icon>
		Remettre en vente
	</button>

</ion-content>
