<!-- Replace avatar, name and email with user data -->

<ion-menu [content]="content">
	<ion-header>
		<ion-item class="menu-toolbar">
		<ion-avatar item-left>
			<img src='https://secure.gravatar.com/avatar/8eb1b522f60d11fa897de1dc6351b7e8?s=96&d=mm&r=g'>
		</ion-avatar>
		<div class="subtitle">
			<h3>John Doe</h3>
			<span>john.doe@example.com</span>
		</div>
		</ion-item>
	</ion-header>

	<ion-content>
		<ion-list>
			<button class="menu-item" menuClose ion-item *ngFor="let p of pages[0]" (click)="openPage(p)" no-lines>
				<ion-icon [name]="p.icon"></ion-icon>
				<span>{{p.title}}</span>
			</button>
			<ion-item class="separator"></ion-item>
			<button class="menu-item" menuClose ion-item *ngFor="let p of pages[1]" (click)="openPage(p)" no-lines>
				<ion-icon [name]="p.icon"></ion-icon>
				<span>{{p.title}}</span>
			</button>
			<ion-item class="separator"></ion-item>
			<button class="menu-item" menuClose ion-item *ngFor="let p of pages[2]" (click)="openPage(p)" no-lines>
				<ion-icon [name]="p.icon"></ion-icon>
				<span>{{p.title}}</span>
			</button>
			<ion-item class="separator"></ion-item>
			<button class="menu-item" menuClose (click)="deconnect()" ion-item>
				<ion-icon name="close-circle"></ion-icon>
				<span>Déconnexion</span>
			</button>

		</ion-list>
	</ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
