<ion-menu [content]="content">
	<ion-header>
		<ion-item class="menu-toolbar">
		<ion-avatar item-left *ngIf="user != null">
			<img [src]='user.avatar_url'>
		</ion-avatar>
		<div class="subtitle" *ngIf="user != null">
			<h3>{{user.first_name}} {{user.last_name}}</h3>
			<span>{{user.email}}</span>
		</div>
		</ion-item>
	</ion-header>

	<ion-content>
		<ion-list>
			<button class="menu-item" menuClose ion-item *ngFor="let p of pages[0]" (click)="openPage(p)" no-lines>
				<ion-icon [name]="p.icon"></ion-icon>
				<span>{{p.title}}</span>
			</button>
			<ion-item class="separator"></ion-item>
			<button class="menu-item" menuClose ion-item *ngFor="let p of pages[1]" (click)="openPage(p)" no-lines>
				<ion-icon [name]="p.icon"></ion-icon>
				<span>{{p.title}}</span>
			</button>
			<ion-item class="separator"></ion-item>
			<button class="menu-item" menuClose ion-item *ngFor="let p of pages[2]" (click)="openPage(p)" no-lines>
				<ion-icon [name]="p.icon"></ion-icon>
				<span>{{p.title}}</span>
			</button>
			<ion-item class="separator"></ion-item>
			<button class="menu-item" menuClose (click)="deconnect()" ion-item>
				<ion-icon name="close-circle"></ion-icon>
				<span>Déconnexion</span>
			</button>

		</ion-list>
	</ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
