page-wish-details {
	.info {
		text-align: justify;
		padding-right: 23px;
		padding-left: 23px;
		line-height: 21px;
		font-size: 14px;
		opacity: 0.8;
	}
	ion-item {
		padding-left: 23px !important;
	}
	.delete-all {
		margin-top: 45px;
		width: 80%;
		left: 10%;
	}
}
