page-signup2
{
	.error {
		ion-label{
			color: color($colors, tomate);
		}
		border-bottom: 1px solid color($colors, tomate);
	}
	.button{
		background: color($colors, tomate) !important;
		width: 80%;
		margin-left: 10%;
		margin-top: 25px;
	}
	.conditions {
		padding-top: 15px;
	}
	.link {
		margin-left: 17%;
	}
}
